<a href="https://colab.research.google.com/github/Ace1811/Data-Science---Standard-Projects/blob/master/Standard_Project_1_.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#Imports
import pandas as pd
import numpy as np

Да се изберат пет различни временски серии кои имаат во себе податоци за изминатите 4 години (на пример податоци од берза, криптовалути, цена на нафта, цена на злато, цена на земен гас). Потоа, да се направат наједноставни Pearson корелации помеѓу податоците. За крај, да се најдат и неколку други видови на корелација помеѓу податоците, меѓу кои и корелација со зададен window (за истата да се пробаат повеќе вредности за window кои имаат смисла согласно податоците).

#GOOD DATASET 1 (CRYPTO) : https://finance.yahoo.com/quote/BTC-USD/history?period1=1530921600&period2=1688688000&interval=1d&filter=history&frequency=1d&includeAdjustedClose=true

2018-07-07 TO 2023-07-07

In [ ]:
#dobar dataset

bitcoin=pd.read_csv('/content/drive/MyDrive/Fakultet - Main/Semestri/Semestar 5 - Zimski/4.Data Science/Projects - pay/Data/1. BTC-USD.csv')
bitcoin

,Date,Open,High,Low,Close,Adj Close,Volume
0,2018-07-07,6668.709961,6863.990234,6579.240234,6856.930176,6856.930176,3961080064
1,2018-07-08,6857.799805,6885.910156,6747.979980,6773.879883,6773.879883,3386210048
2,2018-07-09,6775.080078,6838.680176,6724.339844,6741.750000,6741.750000,3718129920
3,2018-07-10,6739.209961,6767.740234,6320.720215,6329.950195,6329.950195,4052430080
4,2018-07-11,6330.770020,6444.959961,6330.470215,6394.709961,6394.709961,3644859904
...,...,...,...,...,...,...,...
1822,2023-07-03,30624.515625,31375.613281,30586.513672,31156.439453,31156.439453,15271884873
1823,2023-07-04,31156.865234,31325.197266,30659.355469,30777.582031,30777.582031,12810828427
1824,2023-07-05,30778.724609,30877.330078,30225.613281,30514.166016,30514.166016,12481622280
1825,2023-07-06,30507.150391,31460.052734,29892.226563,29909.337891,29909.337891,21129219509
1826,2023-07-07,29777.285156,30433.515625,29777.285156,30292.279297,30292.279297,16532630528

In [ ]:
#for row in bitcoin.values:
#
#  new_sample=row[0][-2:]+"-"+row[0][-5:-3]+"-"+row[0][2:4]
#  #Date_bitcoin.append(new_sample)
#  bitcoin.at[row[0], 'Date'] = new_sample


def modify_date_format_bitcoin(date):
    # Perform your desired format modification here
    new_sample = date[-2:]+"-"+date[-5:-3]+"-"+date[2:4]
    return new_sample

bitcoin['Date'] = bitcoin['Date'].apply(modify_date_format_bitcoin)

In [ ]:
bitcoin

,Date,Open,High,Low,Close,Adj Close,Volume
0,07-07-18,6668.709961,6863.990234,6579.240234,6856.930176,6856.930176,3961080064
1,08-07-18,6857.799805,6885.910156,6747.979980,6773.879883,6773.879883,3386210048
2,09-07-18,6775.080078,6838.680176,6724.339844,6741.750000,6741.750000,3718129920
3,10-07-18,6739.209961,6767.740234,6320.720215,6329.950195,6329.950195,4052430080
4,11-07-18,6330.770020,6444.959961,6330.470215,6394.709961,6394.709961,3644859904
...,...,...,...,...,...,...,...
1822,03-07-23,30624.515625,31375.613281,30586.513672,31156.439453,31156.439453,15271884873
1823,04-07-23,31156.865234,31325.197266,30659.355469,30777.582031,30777.582031,12810828427
1824,05-07-23,30778.724609,30877.330078,30225.613281,30514.166016,30514.166016,12481622280
1825,06-07-23,30507.150391,31460.052734,29892.226563,29909.337891,29909.337891,21129219509
1826,07-07-23,29777.285156,30433.515625,29777.285156,30292.279297,30292.279297,16532630528

#GOOD DATASET 2 (STOCK) https://finance.yahoo.com/quote/TSLA/history?period1=1530921600&period2=1688688000&interval=1d&filter=history&frequency=1d&includeAdjustedClose=true

In [ ]:
tesla=pd.read_csv('/content/drive/MyDrive/Fakultet - Main/Semestri/Semestar 5 - Zimski/4.Data Science/Projects - pay/Data/1 TSLA.csv')
tesla

,Date,Open,High,Low,Close,Adj Close,Volume
0,2018-07-09,20.799334,21.234667,20.533333,21.233999,21.233999,113952000
1,2018-07-10,21.637333,21.845333,21.280001,21.497999,21.497999,142072500
2,2018-07-11,21.053333,21.462667,21.004667,21.264000,21.264000,73261500
3,2018-07-12,21.428667,21.548668,20.851334,21.114000,21.114000,85818000
4,2018-07-13,21.038668,21.305332,20.616667,21.257999,21.257999,88047000
...,...,...,...,...,...,...,...
1252,2023-06-29,258.029999,260.739990,253.610001,257.500000,257.500000,131283400
1253,2023-06-30,260.600006,264.450012,259.890015,261.769989,261.769989,112267600
1254,2023-07-03,276.489990,284.250000,275.109985,279.820007,279.820007,119685900
1255,2023-07-05,278.820007,283.850006,277.600006,282.480011,282.480011,131530900
1256,2023-07-06,278.089996,279.970001,272.880005,276.540009,276.540009,120332100

In [ ]:
#for row in copy_date_tesla:
#  new_sample=row[-2:]+"-"+row[-5:-3]+"-"+row[2:4]
#  Date_tesla.append(new_sample)


def modify_date_format_tesla(date):
    # Perform your desired format modification here
    new_sample = date[-2:]+"-"+date[-5:-3]+"-"+date[2:4]
    return new_sample

tesla['Date'] = tesla['Date'].apply(modify_date_format_tesla)

In [ ]:
tesla

,Date,Open,High,Low,Close,Adj Close,Volume
0,09-07-18,20.799334,21.234667,20.533333,21.233999,21.233999,113952000
1,10-07-18,21.637333,21.845333,21.280001,21.497999,21.497999,142072500
2,11-07-18,21.053333,21.462667,21.004667,21.264000,21.264000,73261500
3,12-07-18,21.428667,21.548668,20.851334,21.114000,21.114000,85818000
4,13-07-18,21.038668,21.305332,20.616667,21.257999,21.257999,88047000
...,...,...,...,...,...,...,...
1252,29-06-23,258.029999,260.739990,253.610001,257.500000,257.500000,131283400
1253,30-06-23,260.600006,264.450012,259.890015,261.769989,261.769989,112267600
1254,03-07-23,276.489990,284.250000,275.109985,279.820007,279.820007,119685900
1255,05-07-23,278.820007,283.850006,277.600006,282.480011,282.480011,131530900
1256,06-07-23,278.089996,279.970001,272.880005,276.540009,276.540009,120332100

#OK DATASET 3? (OIL)
https://www.investing.com/commodities/brent-oil-historical-data

In [ ]:
oil=pd.read_csv('/content/drive/MyDrive/Fakultet - Main/Semestri/Semestar 5 - Zimski/4.Data Science/Projects - pay/Data/1. Brent Oil Futures Historical Data.csv')
oil

            Date  Price   Open   High    Low     Vol. Change %
0     07/07/2023  77.60  76.51  77.61  76.05      NaN    1.41%
1     07/06/2023  76.52  76.64  77.08  75.05    0.43K   -0.17%
2     07/05/2023  76.65  76.03  76.95  75.30  293.74K    0.52%
3     07/04/2023  76.25  74.89  76.29  74.74  157.96K    2.14%
4     07/03/2023  74.65  75.11  76.60  74.56  328.00K   -0.33%
...          ...    ...    ...    ...    ...      ...      ...
1287  07/13/2018  75.33  74.34  75.93  73.22  302.43K    1.18%
1288  07/12/2018  74.45  74.17  75.10  72.67  416.41K    1.43%
1289  07/11/2018  73.40  78.78  78.83  73.04  560.84K   -6.92%
1290  07/10/2018  78.86  78.25  79.51  78.15  261.55K    1.01%
1291  07/09/2018  78.07  77.21  78.31  77.04  212.19K    1.24%

[1292 rows x 7 columns]

In [ ]:
#for row in date:
#  new_sample=row[:2]+"-"+row[3:5]+"-"+row[8:]
#  Date_oil.append(new_sample)

def modify_date_format_oil(date):
    # Perform your desired format modification here
    new_sample = date[3:5]+"-"+date[:2]+"-"+date[8:]
    return new_sample

oil['Date'] = oil['Date'].apply(modify_date_format_oil)

In [ ]:
oil = oil.iloc[::-1].reset_index(drop=True)

In [ ]:
oil

          Date  Price   Open   High    Low     Vol. Change %
0     09-07-18  78.07  77.21  78.31  77.04  212.19K    1.24%
1     10-07-18  78.86  78.25  79.51  78.15  261.55K    1.01%
2     11-07-18  73.40  78.78  78.83  73.04  560.84K   -6.92%
3     12-07-18  74.45  74.17  75.10  72.67  416.41K    1.43%
4     13-07-18  75.33  74.34  75.93  73.22  302.43K    1.18%
...        ...    ...    ...    ...    ...      ...      ...
1287  03-07-23  74.65  75.11  76.60  74.56  328.00K   -0.33%
1288  04-07-23  76.25  74.89  76.29  74.74  157.96K    2.14%
1289  05-07-23  76.65  76.03  76.95  75.30  293.74K    0.52%
1290  06-07-23  76.52  76.64  77.08  75.05    0.43K   -0.17%
1291  07-07-23  77.60  76.51  77.61  76.05      NaN    1.41%

[1292 rows x 7 columns]

#GOOD DATASET 4 (GOLD)

https://www.kaggle.com/datasets/arslanr369/daily-gold-price-2018-2023?select=Gold.csv

In [ ]:
gold=pd.read_csv('/content/drive/MyDrive/Fakultet - Main/Semestri/Semestar 5 - Zimski/4.Data Science/Projects - pay/Data/1. Gold.csv')
gold

           Date    Open    High     Low   Close  Adj Close  Volume
0     3/29/2023  1966.1  1966.1  1966.1  1966.1     1966.1    21.0
1     3/28/2023  1972.4  1972.4  1972.4  1972.4     1972.4    21.0
2     3/27/2023  1957.2  1957.2  1952.4  1952.4     1952.4   877.0
3     3/24/2023  1991.7  1995.4  1982.1  1982.1     1982.1    19.0
4     3/23/2023  1990.5  1994.6  1990.5  1993.8     1993.8    33.0
...         ...     ...     ...     ...     ...        ...     ...
1227   4/6/2018  1326.5  1333.0  1319.0  1331.9     1331.9   348.0
1228   4/5/2018  1333.5  1333.7  1322.6  1324.3     1324.3   258.0
1229   4/4/2018  1331.8  1347.3  1331.6  1335.8     1335.8   718.0
1230   4/3/2018  1340.4  1341.5  1328.5  1332.8     1332.8   702.0
1231   4/2/2018  1327.0  1344.2  1324.7  1342.1     1342.1   649.0

[1232 rows x 7 columns]

In [ ]:
#for date in copy_date_gold:
#  if date[1]=="/":
#    if date[3]=="/":
#
#      new_sample="0"+date[2:3]+"-"+"0"+date[:1]+"-"+date[6:]
#
#    else:
#
#      new_sample=date[2:4]+"-"+"0"+date[0:1]+"-"+date[7:]
#
#  else:
#    if date[4]=="/":
#
#      new_sample="0"+date[3:4]+"-"+date[:2]+"-"+date[7:]
#
#    else:
#
#      new_sample=date[3:5]+"-"+date[:2]+"-"+date[8:]
#


def modify_date_format_gold(date):

    if date[1]=="/":
      if date[3]=="/":

        new_sample="0"+date[2:3]+"-"+"0"+date[:1]+"-"+date[6:]
      else:

        new_sample=date[2:4]+"-"+"0"+date[0:1]+"-"+date[7:]
    else:
      if date[4]=="/":

        new_sample="0"+date[3:4]+"-"+date[:2]+"-"+date[7:]
      else:

        new_sample=date[3:5]+"-"+date[:2]+"-"+date[8:]

    print(new_sample)
    return new_sample

gold['Date'] = gold['Date'].apply(modify_date_format_gold)

In [ ]:
gold = gold.iloc[::-1].reset_index(drop=True)

In [ ]:
gold

          Date    Open    High     Low   Close  Adj Close  Volume
0     02-04-18  1327.0  1344.2  1324.7  1342.1     1342.1   649.0
1     03-04-18  1340.4  1341.5  1328.5  1332.8     1332.8   702.0
2     04-04-18  1331.8  1347.3  1331.6  1335.8     1335.8   718.0
3     05-04-18  1333.5  1333.7  1322.6  1324.3     1324.3   258.0
4     06-04-18  1326.5  1333.0  1319.0  1331.9     1331.9   348.0
...        ...     ...     ...     ...     ...        ...     ...
1227  23-03-23  1990.5  1994.6  1990.5  1993.8     1993.8    33.0
1228  24-03-23  1991.7  1995.4  1982.1  1982.1     1982.1    19.0
1229  27-03-23  1957.2  1957.2  1952.4  1952.4     1952.4   877.0
1230  28-03-23  1972.4  1972.4  1972.4  1972.4     1972.4    21.0
1231  29-03-23  1966.1  1966.1  1966.1  1966.1     1966.1    21.0

[1232 rows x 7 columns]

#GOOD DATASET 5 (NATURAL GAS)

https://markets.businessinsider.com/commodities/natural-gas-price

In [ ]:
gas=pd.read_csv('/content/drive/MyDrive/Fakultet - Main/Semestri/Semestar 5 - Zimski/4.Data Science/Projects - pay/Data/1. Natural Gas (Henry Hub)_07_06_23-07_09_18.csv')
gas

       Open  Close   High    Low  Volume      Date
0     2.652  2.609  2.687  2.586     NaN  07/06/23
1     2.699  2.657  2.793  2.648     NaN  07/05/23
2     2.729  2.709  2.746  2.670     NaN  07/03/23
3     2.677  2.798  2.828  2.634     NaN  06/30/23
4     0.000  2.701  2.746  2.616     NaN  06/29/23
...     ...    ...    ...    ...     ...       ...
1256  2.802  2.752  2.812  2.750     NaN  07/13/18
1257  2.822  2.797  2.827  2.789     NaN  07/12/18
1258  2.787  2.829  2.832  2.780     NaN  07/11/18
1259  2.829  2.788  2.835  2.782     NaN  07/10/18
1260  2.839  2.828  2.865  2.817     NaN  07/09/18

[1261 rows x 6 columns]

In [ ]:
#for date in copy_date_gas:
#  new_sample=date[3:5]+"-"+date[:2]+"-"+date[6:]
#  Date_gas.append(new_sample)

def modify_date_format_gas(date):
    # Perform your desired format modification here
    new_sample = date[3:5]+"-"+date[:2]+"-"+date[6:]
    return new_sample

gas['Date'] = gas['Date'].apply(modify_date_format_gas)

In [ ]:
gas = gas.iloc[::-1].reset_index(drop=True)

In [ ]:
gas

       Open  Close   High    Low  Volume      Date
0     2.839  2.828  2.865  2.817     NaN  09-07-18
1     2.829  2.788  2.835  2.782     NaN  10-07-18
2     2.787  2.829  2.832  2.780     NaN  11-07-18
3     2.822  2.797  2.827  2.789     NaN  12-07-18
4     2.802  2.752  2.812  2.750     NaN  13-07-18
...     ...    ...    ...    ...     ...       ...
1256  0.000  2.701  2.746  2.616     NaN  29-06-23
1257  2.677  2.798  2.828  2.634     NaN  30-06-23
1258  2.729  2.709  2.746  2.670     NaN  03-07-23
1259  2.699  2.657  2.793  2.648     NaN  05-07-23
1260  2.652  2.609  2.687  2.586     NaN  06-07-23

[1261 rows x 6 columns]

In [ ]:
# Rename the columns FOR EACH
bitcoin = bitcoin.rename(columns={ 'Open': 'Open_bitcoin', 'High': 'High_bitcoin', 'Low': 'Low_bitcoin',
                        'Close': 'Close_bitcoin', 'Adj Close': 'Adj_Close_bitcoin', 'Volume': 'Volume_bitcoin'})

bitcoin

,Date,Open_bitcoin,High_bitcoin,Low_bitcoin,Close_bitcoin,Adj_Close_bitcoin,Volume_bitcoin
0,07-07-18,6668.709961,6863.990234,6579.240234,6856.930176,6856.930176,3961080064
1,08-07-18,6857.799805,6885.910156,6747.979980,6773.879883,6773.879883,3386210048
2,09-07-18,6775.080078,6838.680176,6724.339844,6741.750000,6741.750000,3718129920
3,10-07-18,6739.209961,6767.740234,6320.720215,6329.950195,6329.950195,4052430080
4,11-07-18,6330.770020,6444.959961,6330.470215,6394.709961,6394.709961,3644859904
...,...,...,...,...,...,...,...
1822,03-07-23,30624.515625,31375.613281,30586.513672,31156.439453,31156.439453,15271884873
1823,04-07-23,31156.865234,31325.197266,30659.355469,30777.582031,30777.582031,12810828427
1824,05-07-23,30778.724609,30877.330078,30225.613281,30514.166016,30514.166016,12481622280
1825,06-07-23,30507.150391,31460.052734,29892.226563,29909.337891,29909.337891,21129219509
1826,07-07-23,29777.285156,30433.515625,29777.285156,30292.279297,30292.279297,16532630528

In [ ]:
tesla = tesla.rename(columns={'Open': 'Open_tesla', 'High': 'High_tesla', 'Low': 'Low_tesla',
                              'Close': 'Close_tesla', 'Adj Close': 'Adj_Close_tesla', 'Volume': 'Volume_tesla'})

tesla

,Date,Open_tesla,High_tesla,Low_tesla,Close_tesla,Adj_Close_tesla,Volume_tesla
0,09-07-18,20.799334,21.234667,20.533333,21.233999,21.233999,113952000
1,10-07-18,21.637333,21.845333,21.280001,21.497999,21.497999,142072500
2,11-07-18,21.053333,21.462667,21.004667,21.264000,21.264000,73261500
3,12-07-18,21.428667,21.548668,20.851334,21.114000,21.114000,85818000
4,13-07-18,21.038668,21.305332,20.616667,21.257999,21.257999,88047000
...,...,...,...,...,...,...,...
1252,29-06-23,258.029999,260.739990,253.610001,257.500000,257.500000,131283400
1253,30-06-23,260.600006,264.450012,259.890015,261.769989,261.769989,112267600
1254,03-07-23,276.489990,284.250000,275.109985,279.820007,279.820007,119685900
1255,05-07-23,278.820007,283.850006,277.600006,282.480011,282.480011,131530900
1256,06-07-23,278.089996,279.970001,272.880005,276.540009,276.540009,120332100

In [ ]:
gold = gold.rename(columns={'Open': 'Open_gold', 'High': 'High_gold', 'Low': 'Low_gold',
                            'Close': 'Close_gold', 'Adj Close': 'Adj_Close_gold', 'Volume': 'Volume_gold'})

gold

,Date,Open_gold,High_gold,Low_gold,Close_gold,Adj_Close_gold,Volume_gold
0,02-04-18,1327.0,1344.2,1324.7,1342.1,1342.1,649.0
1,03-04-18,1340.4,1341.5,1328.5,1332.8,1332.8,702.0
2,04-04-18,1331.8,1347.3,1331.6,1335.8,1335.8,718.0
3,05-04-18,1333.5,1333.7,1322.6,1324.3,1324.3,258.0
4,06-04-18,1326.5,1333.0,1319.0,1331.9,1331.9,348.0
...,...,...,...,...,...,...,...
1227,23-03-23,1990.5,1994.6,1990.5,1993.8,1993.8,33.0
1228,24-03-23,1991.7,1995.4,1982.1,1982.1,1982.1,19.0
1229,27-03-23,1957.2,1957.2,1952.4,1952.4,1952.4,877.0
1230,28-03-23,1972.4,1972.4,1972.4,1972.4,1972.4,21.0
1231,29-03-23,1966.1,1966.1,1966.1,1966.1,1966.1,21.0

In [ ]:
gas = gas.rename(columns={'Open':'Open_gas','Close':'Close_gas','High':'High_gas','Low':'Low_gas','Volume':'Volume_gas' })

gas

      Open_gas  Close_gas  High_gas  Low_gas  Volume_gas      Date
0        2.839      2.828     2.865    2.817         NaN  09-07-18
1        2.829      2.788     2.835    2.782         NaN  10-07-18
2        2.787      2.829     2.832    2.780         NaN  11-07-18
3        2.822      2.797     2.827    2.789         NaN  12-07-18
4        2.802      2.752     2.812    2.750         NaN  13-07-18
...        ...        ...       ...      ...         ...       ...
1256     0.000      2.701     2.746    2.616         NaN  29-06-23
1257     2.677      2.798     2.828    2.634         NaN  30-06-23
1258     2.729      2.709     2.746    2.670         NaN  03-07-23
1259     2.699      2.657     2.793    2.648         NaN  05-07-23
1260     2.652      2.609     2.687    2.586         NaN  06-07-23

[1261 rows x 6 columns]

In [ ]:
oil = oil.rename(columns={'Price': 'Price_oil', 'Open': 'Open_oil',
                          'High': 'High_oil', 'Low': 'Low_oil', 'Vol.': 'Vol_oil',
                          'Change %': 'Change %_oil'})

oil

          Date  Price_oil  Open_oil  High_oil  Low_oil  Vol_oil Change %_oil
0     09-07-18      78.07     77.21     78.31    77.04  212.19K        1.24%
1     10-07-18      78.86     78.25     79.51    78.15  261.55K        1.01%
2     11-07-18      73.40     78.78     78.83    73.04  560.84K       -6.92%
3     12-07-18      74.45     74.17     75.10    72.67  416.41K        1.43%
4     13-07-18      75.33     74.34     75.93    73.22  302.43K        1.18%
...        ...        ...       ...       ...      ...      ...          ...
1287  03-07-23      74.65     75.11     76.60    74.56  328.00K       -0.33%
1288  04-07-23      76.25     74.89     76.29    74.74  157.96K        2.14%
1289  05-07-23      76.65     76.03     76.95    75.30  293.74K        0.52%
1290  06-07-23      76.52     76.64     77.08    75.05    0.43K       -0.17%
1291  07-07-23      77.60     76.51     77.61    76.05      NaN        1.41%

[1292 rows x 7 columns]

In [ ]:
merged_data = pd.merge(bitcoin,tesla, on='Date')

In [ ]:
merged_data = pd.merge(merged_data,oil,on='Date')

In [ ]:
merged_data = pd.merge(merged_data,gas,on='Date')

In [ ]:
merged_data = pd.merge(merged_data,gold,on='Date')

In [ ]:
merged_data['Date']

0       09-07-18
1       10-07-18
2       11-07-18
3       12-07-18
4       13-07-18
          ...
1157    23-03-23
1158    24-03-23
1159    27-03-23
1160    28-03-23
1161    29-03-23
Name: Date, Length: 1162, dtype: object

In [ ]:
merged_data.columns

Index(['Date', 'Open_bitcoin', 'High_bitcoin', 'Low_bitcoin', 'Close_bitcoin',
       'Adj_Close_bitcoin', 'Volume_bitcoin', 'Open_tesla', 'High_tesla',
       'Low_tesla', 'Close_tesla', 'Adj_Close_tesla', 'Volume_tesla',
       'Price_oil', 'Open_oil', 'High_oil', 'Low_oil', 'Vol_oil',
       'Change %_oil', 'Open_gas', 'Close_gas', 'High_gas', 'Low_gas',
       'Volume_gas', 'Open_gold', 'High_gold', 'Low_gold', 'Close_gold',
       'Adj_Close_gold', 'Volume_gold'],
      dtype='object')

In [ ]:
columns_to_keep = ['Date', 'Open_bitcoin', 'Open_tesla', 'Open_oil', 'Open_gas', 'Open_gold']

In [ ]:
merged_data=merged_data[columns_to_keep]

In [ ]:
merged_data

          Date  Open_bitcoin  Open_tesla  Open_oil  Open_gas  Open_gold
0     09-07-18   6775.080078   20.799334     77.21     2.839     1258.2
1     10-07-18   6739.209961   21.637333     78.25     2.829     1256.2
2     11-07-18   6330.770020   21.053333     78.78     2.787     1253.2
3     12-07-18   6396.779785   21.428667     74.17     2.822     1240.9
4     13-07-18   6235.029785   21.038668     74.34     2.802     1244.7
...        ...           ...         ...       ...       ...        ...
1157  23-03-23  27301.957031  195.259995     75.87     2.215     1990.5
1158  24-03-23  28324.111328  191.649994     75.53     2.153     1991.7
1159  27-03-23  27994.068359  194.419998     75.00     2.130     1957.2
1160  28-03-23  27132.888672  192.000000     78.23     2.089     1972.4
1161  29-03-23  27267.031250  193.130005     78.97     2.024     1966.1

[1162 rows x 6 columns]

In [ ]:
merged_data.isnull().sum()

Date            0
Open_bitcoin    0
Open_tesla      0
Open_oil        0
Open_gas        0
Open_gold       0
dtype: int64

In [ ]:
pearson_correlation = merged_data.corr(method='pearson')
print(pearson_correlation)
pearson_correlation

              Open_bitcoin  Open_tesla  Open_oil  Open_gas  Open_gold
Open_bitcoin      1.000000    0.847717  0.392050  0.319080   0.588228
Open_tesla        0.847717    1.000000  0.532462  0.562074   0.736013
Open_oil          0.392050    0.532462  1.000000  0.713268   0.126777
Open_gas          0.319080    0.562074  0.713268  1.000000   0.240543
Open_gold         0.588228    0.736013  0.126777  0.240543   1.000000

<ipython-input-37-e92eeafe5217>:1: FutureWarning: The default value of numeric_only in DataFrame.corr is deprecated. In a future version, it will default to False. Select only valid columns or specify the value of numeric_only to silence this warning.
  pearson_correlation = merged_data.corr(method='pearson')

              Open_bitcoin  Open_tesla  Open_oil  Open_gas  Open_gold
Open_bitcoin      1.000000    0.847717  0.392050  0.319080   0.588228
Open_tesla        0.847717    1.000000  0.532462  0.562074   0.736013
Open_oil          0.392050    0.532462  1.000000  0.713268   0.126777
Open_gas          0.319080    0.562074  0.713268  1.000000   0.240543
Open_gold         0.588228    0.736013  0.126777  0.240543   1.000000

In [ ]:
data_subset = merged_data.drop('Date', axis=1)
print(data_subset)
window_size = 30
rolling_corr = data_subset.rolling(window_size).corr().dropna()
rolling_corr

      Open_bitcoin  Open_tesla  Open_oil  Open_gas  Open_gold
0      6775.080078   20.799334     77.21     2.839     1258.2
1      6739.209961   21.637333     78.25     2.829     1256.2
2      6330.770020   21.053333     78.78     2.787     1253.2
3      6396.779785   21.428667     74.17     2.822     1240.9
4      6235.029785   21.038668     74.34     2.802     1244.7
...            ...         ...       ...       ...        ...
1157  27301.957031  195.259995     75.87     2.215     1990.5
1158  28324.111328  191.649994     75.53     2.153     1991.7
1159  27994.068359  194.419998     75.00     2.130     1957.2
1160  27132.888672  192.000000     78.23     2.089     1972.4
1161  27267.031250  193.130005     78.97     2.024     1966.1

[1162 rows x 5 columns]

                   Open_bitcoin  Open_tesla  Open_oil  Open_gas  Open_gold
29   Open_bitcoin      1.000000   -0.443362  0.119049 -0.660986   0.241824
     Open_tesla       -0.443362    1.000000 -0.268893  0.464499  -0.263966
     Open_oil          0.119049   -0.268893  1.000000 -0.373711   0.773884
     Open_gas         -0.660986    0.464499 -0.373711  1.000000  -0.677500
     Open_gold         0.241824   -0.263966  0.773884 -0.677500   1.000000
...                         ...         ...       ...       ...        ...
1161 Open_bitcoin      1.000000    0.058558 -0.766871 -0.666723   0.828790
     Open_tesla        0.058558    1.000000  0.362264 -0.024978  -0.340919
     Open_oil         -0.766871    0.362264  1.000000  0.499567  -0.842672
     Open_gas         -0.666723   -0.024978  0.499567  1.000000  -0.558254
     Open_gold         0.828790   -0.340919 -0.842672 -0.558254   1.000000

[5665 rows x 5 columns]

In [ ]:
average_corr = rolling_corr.groupby(level=0).mean()
average_corr

      Open_bitcoin  Open_tesla  Open_oil  Open_gas  Open_gold
29        0.051305    0.097656  0.250066 -0.049540   0.214848
30        0.061571    0.103917  0.245072 -0.059355   0.204054
31        0.074551    0.092695  0.230723 -0.063898   0.187478
32        0.110093    0.087120  0.242877 -0.061035   0.180590
33        0.120358    0.081412  0.236128 -0.065466   0.184787
...            ...         ...       ...       ...        ...
1157      0.097285    0.196385  0.042074  0.099881   0.032962
1158      0.092061    0.199076  0.041939  0.089402   0.024393
1159      0.090764    0.203299  0.039816  0.077738   0.022019
1160      0.093012    0.207224  0.041772  0.064909   0.019112
1161      0.090751    0.210985  0.050457  0.049922   0.017389

[1133 rows x 5 columns]

In [ ]:
#cons: Not as sensitive to linear relationships as Pearson correlation
#pros: Robust to non-linearity
spearman_corr = merged_data.corr(method='spearman')
spearman_corr

<ipython-input-40-3a3979d04049>:1: FutureWarning: The default value of numeric_only in DataFrame.corr is deprecated. In a future version, it will default to False. Select only valid columns or specify the value of numeric_only to silence this warning.
  spearman_corr = merged_data.corr(method='spearman')

              Open_bitcoin  Open_tesla  Open_oil  Open_gas  Open_gold
Open_bitcoin      1.000000    0.855503  0.432088  0.431474   0.691524
Open_tesla        0.855503    1.000000  0.493739  0.565697   0.686389
Open_oil          0.432088    0.493739  1.000000  0.739683   0.136118
Open_gas          0.431474    0.565697  0.739683  1.000000   0.189593
Open_gold         0.691524    0.686389  0.136118  0.189593   1.000000

In [ ]:
#cons: Not as sensitive to linear relationships as Pearson or Spearman correlation
#pros: Robust to non-linearity
kendall_corr = merged_data.corr(method='kendall')
kendall_corr

<ipython-input-41-40411acb6d34>:1: FutureWarning: The default value of numeric_only in DataFrame.corr is deprecated. In a future version, it will default to False. Select only valid columns or specify the value of numeric_only to silence this warning.
  kendall_corr = merged_data.corr(method='kendall')

              Open_bitcoin  Open_tesla  Open_oil  Open_gas  Open_gold
Open_bitcoin      1.000000    0.651565  0.259131  0.262808   0.467379
Open_tesla        0.651565    1.000000  0.313846  0.379275   0.457769
Open_oil          0.259131    0.313846  1.000000  0.565715   0.077014
Open_gas          0.262808    0.379275  0.565715  1.000000   0.076496
Open_gold         0.467379    0.457769  0.077014  0.076496   1.000000

In [ ]:
data_subset = merged_data.drop('Date', axis=1)
print(data_subset)
window_size = 7
rolling_corr2 = data_subset.rolling(window_size).corr().dropna()
rolling_corr2

average_corr = rolling_corr2.mean(axis=1)

lowest_corr = rolling_corr2.min(axis=1)

highest_corr = rolling_corr2.max(axis=1)
highest_corr = highest_corr.where(highest_corr < 0.99999999999).dropna()
second_highest_corr = highest_corr.max()


print('\nSecond Highest Correlation 7d (Excluding 1.0):')
print(second_highest_corr)

print('\nAverage Correlation 7d:')
print(average_corr)

print('\nLowest Correlation 7d:')
print(lowest_corr)

      Open_bitcoin  Open_tesla  Open_oil  Open_gas  Open_gold
0      6775.080078   20.799334     77.21     2.839     1258.2
1      6739.209961   21.637333     78.25     2.829     1256.2
2      6330.770020   21.053333     78.78     2.787     1253.2
3      6396.779785   21.428667     74.17     2.822     1240.9
4      6235.029785   21.038668     74.34     2.802     1244.7
...            ...         ...       ...       ...        ...
1157  27301.957031  195.259995     75.87     2.215     1990.5
1158  28324.111328  191.649994     75.53     2.153     1991.7
1159  27994.068359  194.419998     75.00     2.130     1957.2
1160  27132.888672  192.000000     78.23     2.089     1972.4
1161  27267.031250  193.130005     78.97     2.024     1966.1

[1162 rows x 5 columns]

Second Highest Correlation 7d (Excluding 1.0):
0.9999999999899566

Average Correlation 7d:
6     Open_bitcoin    0.105515
      Open_tesla      0.154511
      Open_oil        0.374231
      Open_gas        0.391576
      Open_gold       0.378850
                        ...
1161  Open_bitcoin    0.164058
      Open_tesla      0.215859
      Open_oil       -0.072992
      Open_gas        0.176265
      Open_gold       0.036064
Length: 5780, dtype: float64

Lowest Correlation 7d:
6     Open_bitcoin   -0.396170
      Open_tesla     -0.409130
      Open_oil       -0.353635
      Open_gas       -0.281314
      Open_gold      -0.409130
                        ...
1161  Open_bitcoin   -0.676721
      Open_tesla     -0.508329
      Open_oil       -0.794300
      Open_gas       -0.794300
      Open_gold      -0.508329
Length: 5780, dtype: float64

In [ ]:
data_subset = merged_data.drop('Date', axis=1)
print(data_subset)
window_size = 14
rolling_corr3 = data_subset.rolling(window_size).corr().dropna()
rolling_corr3


average_corr = rolling_corr3.mean(axis=1)

lowest_corr = rolling_corr3.min(axis=1)
highest_corr = rolling_corr3.max(axis=1)
highest_corr = highest_corr.where(highest_corr < 0.99999999999).dropna()
second_highest_corr = highest_corr.max()


print('\nSecond Highest Correlation 14d (Excluding 1.0):')
print(second_highest_corr)

print('\nAverage Correlation 14d:')
print(average_corr)

print('\nLowest Correlation 14d:')
print(lowest_corr)

      Open_bitcoin  Open_tesla  Open_oil  Open_gas  Open_gold
0      6775.080078   20.799334     77.21     2.839     1258.2
1      6739.209961   21.637333     78.25     2.829     1256.2
2      6330.770020   21.053333     78.78     2.787     1253.2
3      6396.779785   21.428667     74.17     2.822     1240.9
4      6235.029785   21.038668     74.34     2.802     1244.7
...            ...         ...       ...       ...        ...
1157  27301.957031  195.259995     75.87     2.215     1990.5
1158  28324.111328  191.649994     75.53     2.153     1991.7
1159  27994.068359  194.419998     75.00     2.130     1957.2
1160  27132.888672  192.000000     78.23     2.089     1972.4
1161  27267.031250  193.130005     78.97     2.024     1966.1

[1162 rows x 5 columns]

Second Highest Correlation 14d (Excluding 1.0):
0.9999999999898238

Average Correlation 14d:
13    Open_bitcoin   -0.242583
      Open_tesla      0.229129
      Open_oil        0.436365
      Open_gas        0.416984
      Open_gold       0.438214
                        ...
1161  Open_bitcoin    0.269454
      Open_tesla      0.259870
      Open_oil       -0.123382
      Open_gas       -0.179477
      Open_gold       0.256504
Length: 5745, dtype: float64

Lowest Correlation 14d:
13    Open_bitcoin   -0.817077
      Open_tesla     -0.712803
      Open_oil       -0.400041
      Open_gas       -0.282993
      Open_gold      -0.817077
                        ...
1161  Open_bitcoin   -0.693087
      Open_tesla     -0.699612
      Open_oil       -0.693087
      Open_gas       -0.704541
      Open_gold      -0.704541
Length: 5745, dtype: float64

In [ ]:
#Posledno da se najde logika od rolling corr (odnosno dali da se zeme max od site ili nesho slichno )
mean_corr = rolling_corr.mean()
std_corr = rolling_corr.std()
print(mean_corr)
print(std_corr)

Open_bitcoin    0.313792
Open_tesla      0.289242
Open_oil        0.280283
Open_gas        0.232005
Open_gold       0.242236
dtype: float64
Open_bitcoin    0.542244
Open_tesla      0.552575
Open_oil        0.558523
Open_gas        0.458082
Open_gold       0.557021
dtype: float64

In [ ]:
average_corr = rolling_corr.mean(axis=1)
highest_corr = rolling_corr.max(axis=1)
lowest_corr = rolling_corr.min(axis=1)

print('\nAverage Correlation:')
print(average_corr)

print('\nHighest Correlation:')
print(highest_corr)

print('\nLowest Correlation:')
print(lowest_corr)

Average Correlation:
29    Open_bitcoin    0.051305
      Open_tesla      0.097656
      Open_oil        0.250066
      Open_gas       -0.049540
      Open_gold       0.214848
                        ...
1161  Open_bitcoin    0.090751
      Open_tesla      0.210985
      Open_oil        0.050457
      Open_gas        0.049922
      Open_gold       0.017389
Length: 5665, dtype: float64

Highest Correlation:
29    Open_bitcoin    1.0
      Open_tesla      1.0
      Open_oil        1.0
      Open_gas        1.0
      Open_gold       1.0
                     ...
1161  Open_bitcoin    1.0
      Open_tesla      1.0
      Open_oil        1.0
      Open_gas        1.0
      Open_gold       1.0
Length: 5665, dtype: float64

Lowest Correlation:
29    Open_bitcoin   -0.660986
      Open_tesla     -0.443362
      Open_oil       -0.373711
      Open_gas       -0.677500
      Open_gold      -0.677500
                        ...
1161  Open_bitcoin   -0.766871
      Open_tesla     -0.340919
      Open_oil       -0.842672
      Open_gas       -0.666723
      Open_gold      -0.842672
Length: 5665, dtype: float64

In [ ]:
data_subset = merged_data.drop('Date', axis=1)
print(data_subset)
window_size = 30
rolling_corr3 = data_subset.rolling(window_size).corr().dropna()
rolling_corr3


average_corr = rolling_corr3.mean(axis=1)

lowest_corr = rolling_corr3.min(axis=1)
highest_corr = rolling_corr3.max(axis=1)
highest_corr = highest_corr.where(highest_corr < 0.99999999999).dropna()
second_highest_corr = highest_corr.max()


print('\nSecond Highest Correlation 30d (Excluding 1.0):')
print(second_highest_corr)

print('\nAverage Correlation 30d:')
print(average_corr)

print('\nLowest Correlation 30d:')
print(lowest_corr)

      Open_bitcoin  Open_tesla  Open_oil  Open_gas  Open_gold
0      6775.080078   20.799334     77.21     2.839     1258.2
1      6739.209961   21.637333     78.25     2.829     1256.2
2      6330.770020   21.053333     78.78     2.787     1253.2
3      6396.779785   21.428667     74.17     2.822     1240.9
4      6235.029785   21.038668     74.34     2.802     1244.7
...            ...         ...       ...       ...        ...
1157  27301.957031  195.259995     75.87     2.215     1990.5
1158  28324.111328  191.649994     75.53     2.153     1991.7
1159  27994.068359  194.419998     75.00     2.130     1957.2
1160  27132.888672  192.000000     78.23     2.089     1972.4
1161  27267.031250  193.130005     78.97     2.024     1966.1

[1162 rows x 5 columns]

Second Highest Correlation 30d (Excluding 1.0):
0.9999999999892014

Average Correlation 30d:
29    Open_bitcoin    0.051305
      Open_tesla      0.097656
      Open_oil        0.250066
      Open_gas       -0.049540
      Open_gold       0.214848
                        ...
1161  Open_bitcoin    0.090751
      Open_tesla      0.210985
      Open_oil        0.050457
      Open_gas        0.049922
      Open_gold       0.017389
Length: 5665, dtype: float64

Lowest Correlation 30d:
29    Open_bitcoin   -0.660986
      Open_tesla     -0.443362
      Open_oil       -0.373711
      Open_gas       -0.677500
      Open_gold      -0.677500
                        ...
1161  Open_bitcoin   -0.766871
      Open_tesla     -0.340919
      Open_oil       -0.842672
      Open_gas       -0.666723
      Open_gold      -0.842672
Length: 5665, dtype: float64